Source: pptp-linux
Section: net
Priority: optional
Maintainer: Ola Lundqvist <opal@debian.org>
Standards-Version: 3.5.8
Build-Depends: debhelper

Package: pptp-linux
Architecture: any
Depends: ${shlibs:Depends}, ppp
Suggests: kernel-patch-mppe
Description: Point-to-Point Tunneling Protocol (PPTP) Client
 Client for the proprietary Microsoft Point-to-Point Tunneling
 Protocol, PPTP.  Allows connection to a PPTP based VPN as used
 by employers and some cable and ADSL service providers.
 MPPE (Microsoft Point-to-Point Encryption) support requires
 an additionnal kernel module, provided by package kernel-patch-mppe.
 .
 Also observe that you need to patch the ppp package in order to make
 this package work properly. Fixes to the ppp package is on the
 list of things to fix.
